.box
{
    width: 150px;
    height: 100px;
    background-color: tomato;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 10px;
}
.box1
{
    width: 200px;
    height: 200px;
    background-color: violet;
    clear: both; /* float:left or float:right 둘다 해제*/
}
.box2
{
    width: 200px;
    height: 200px;
    background-color: red;
}
/*가상요소 이용 하는것을 추천.*/
.clearfix::after
{
    content: "";
    clear: both;
    display: block;
}