/* width,height : auto(기본값), px, em, rem , vw, vh, % 
    
    화면 기준으로 단위 사용
    vw : viewport width
    wh : viewport height

    블럭요소
    width : auto == 100%
    height: auto == 0
    content on case : !=0

    max-width,min-width :width 속성을 재정의
    max-widsth : 부모가 늘어날때 자식도 같이 늘어나며 자식의 최대 크기 제한.
    min-width : 부모가 줄어들더라고 자식에게 보장하는 최소 넓이.
    
    max-heightm - min height
*/
*
{
    margin: 0;
    padding: 0;
}

.parent
{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}
.child
{
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: 200px;
    background-color: orange;
}
