*
{
    margin: 0;
    padding: 0;
}
.container
{
    display: flex;
    height: 700px;
    border: 2px double darkcyan;
    flex-direction: column;
    flex-wrap: nowrap; /*줄바꿈!(오른쪽부터 아래줄로 이동)*/
    justify-content: space-evenly;

}
.container div
{
    
    width: 200px;
    height: 100px;
    border: 2px dashed black;
    /* display: inline-block; */
}
.container div:first-child
{
    background-color: darkmagenta;
}
.container div:nth-child(2)
{
    background-color: mediumblue;
}
.container div:nth-child(3)
{
    background-color: brown;
}
.container div:nth-child(4)
{
    background-color: coral;
}
.container div:nth-child(5)
{
    background-color: slategray;
}
.container div:nth-child(6)
{
    background-color: wheat;
}
