*
{
    margin: 0;
    padding: 0;
}
.container
{
    display: flex;
    border: 2px double darkcyan;
    width: 500px;

}
.container div
{
    
    /* width: 100px; */
    height: 100px;
    border: 2px dashed black;
    flex-basis: auto;

}
.container div:first-child
{
    background-color: darkmagenta;
    /* flex-grow: 1; */
    flex-shrink: 1;
}
.container div:nth-child(2)
{
    background-color: mediumblue;
    order: 2;
    flex-shrink: 2;
}
.container div:nth-child(3)
{
    background-color: brown;
    flex-shrink: 3;
    /* flex-grow: 2; */
}
.container div:nth-child(4)
{
    background-color: coral;
}
.container div:nth-child(5)
{
    background-color: slategray;
    /* flex-grow: 1; */
}
.container div:nth-child(6)
{
    background-color: wheat;
    order:  -1;
}
