*
{
    margin: 0;
    padding: 0;
}
.container
{
    display: flex;
    height: 400px;
    border: 2px double darkcyan;
    /* flex-direction: row-reverse; */
    /* flex-wrap: nowrap; 줄바꿈!(오른쪽부터 아래줄로 이동) */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    align-items: flex-center;
}
.container div
{
    
    width: 120px;
    height: 100px;
    border: 2px dashed black;
    /* display: inline-block; */
}
.container div:first-child
{
    background-color: darkmagenta;
}
.container div:nth-child(2)
{
    background-color: mediumblue;
}
.container div:nth-child(3)
{
    background-color: brown;
    font-size: 30px;
}
.container div:nth-child(4)
{
    background-color: coral;
}
.container div:nth-child(5)
{
    background-color: slategray;
    height: 60px;

}
.container div:last-child
{
    background-color: wheat;
}
