/* 12.속성 선택자 
[속성명], [속성명=값]
[속성명^=값] : 값으로 시작하는 의미.
[속성명$=값] : 값으로 끝나는
[속성명~=값] : 값을 포함하고 있는
[속성명*=값] : 특정 값을 포함하고 있는
[속성명|=값] : 값에 - 가 있는 경우 (- 제외하고 앞단어 사용)
*/

[target]
{
    text-decoration: none;
}

[target="_blank"]
{
    color : yellowgreen;
}
/*
.btn-success
{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}
.btn-danger 
{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}*/

/*
.btn-success,
.btn-danger 
{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}*/

/* [class^="btn"]
{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
} */

[class|="btn"]
{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}

[class*= "fr"] /*fr이라는 문자열이 들어있으면*/
{
    color:red;
}

[class~= "test"] /*특정 클래스에 문자열이 들어있으면*/
{
    padding: 10px;
}

[class$="test"]
{
    color: brown;
    font-weight: bold;
}