/* 
    css 단위
    1) px : 고정값
    2) em : em단위가 쓰인 곳의 폰트 크기 배수
    3) rem : 문서의 폰트 기본값의 배수
    4) % : t상대값
*/


html
{
    font-size: 14px;
}
div
{
    font-size: 2em; /* 부모가 내려준 값 * ema만큼 곱*/
}
div p
{
    font-size: 2rem;
}
p{
    width: 80%;
}